* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
    ::-moz-selection { /* Code for Firefox */
        background: rgb(104, 209, 43);
    }
    ::selection {
        background: rgb(104, 209, 43);
    }

body {
    font-family: 'Roboto', sans-serif;
    background-color: #222;
    width: 100vw;
    height: 100vh;
}
.containerParent {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container {

    padding: 0px 0px;
    width: 50%;
    background-color: #ddd;
}
.container h1 {
    width: 100%;
    text-align: center;
    margin: 30px 0px;
}
.container .number {
    padding-bottom:5px ;
    background-color: #ddd;
    outline: 0;
    border-width: 0 0 2px;
    border-color: gray;
    width: 100%;
    height: 30px;
    font-size: 20px;
}
.number:focus {
    border-color: rgb(104, 209, 43);
}
.red {
    border-color: rgb(255, 0, 0) !important;
}
.label {
    font-size: 12px;
    display: block;
    padding: 5px 0px;
}
.numberDiv {
    padding: 30px;
    width: 50%;
    margin: auto;
}
.btn {
    border-radius: 3px;
    color: white;
    background-color: rgb(104, 209, 43);
    width: 100%;
    border: none;
    margin-top: 30px;
    height: 30px;
}
.btn:hover  {
    cursor: pointer;
}
.btn:active {
    background-color: rebeccapurple;
    border: none;
}
.btn:focus {
    outline: none;
}
.output {
    word-wrap: break-word;
    width: 100%;
    margin-top: 30px ;
    text-align: center;
    font-size: 60px;
}
footer{
    bottom: 0px;
    position: absolute;
    width: 100%;
    text-align: center;
    background-color: #ddd;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    cursor: pointer;
}
a:active {
    color: rgb(104, 209, 43);
}

@media only Screen and (max-width : 800px) {
    .container {
        width: 80%;
    }

}
@media only Screen and (max-width : 500px) {
    .container {
        width: 100%;
    }
    body {
        background-color: #ddd;
        height: 100vh;
    }
    footer {
        background-color: #222;
        height: 3vh;
    }
    a {
        color: white;
    }
    .output {
        font-size: 20px;
    }

}
